.marker {
  background-size: cover;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.point {
  background-size: cover;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.center {
  background-size: cover;
  width: 25px;
  height: 25px;
}
