<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, minimum-scale=1.0">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
</head>

<body>
    <h1>
        <%= htmlWebpackPlugin.options.title %>
    </h1>
    <div id="dev-map"></div>
    <div id="buttons">
        <ul>
            <li class="btn active" data-trigger="data-geojson">CSV > geoJSON</li>
            <!-- <li class="btn active" data-trigger="data-choropleth">CSV > choropleth</li> -->
        </ul>
    </div>
    <div id="log"></div>
</body>